#canvas {
	position: absolute;
  	background: transparent;
  	z-index: 1;
	cursor: url(../imgs/cursor.png), auto;
}

#score {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	height: 200;
	width: 200;
	top: 0;
	left: 0;
}

#buffer {
	display: none;
}

html, body {
	margin: 0;
	background: #000;
	overflow: hidden;
	cursor: url(../imgs/cursor.png), auto;
	font-family: sans-serif;
	font-size: 30px;
	font-color: '#FFF';
}

